<IfModule mod_rewrite.c>
RewriteEngine On 
RewriteRule ^signup$ /signup.php
RewriteRule ^account$ /account.php
RewriteRule ^logout$ /logout.php
RewriteRule ^login$ /login.php
RewriteRule ^view/(.*)/(.*) /view.php?cat=$1&pid=$2
RewriteRule ^category/(.*)/(.*) /category.php?cat=$1&name=$2
RewriteRule ^top$ /top.php
RewriteRule ^flop$ /flop.php
RewriteRule ^random$ /random.php
RewriteRule ^password$ /password.php
RewriteRule ^confirmemail/(.*) /confirmemail.php?code=$1
RewriteRule ^resetpassword/(.*) /resetpassword.php?code=$1
RewriteRule ^editaccount$ /editaccount.php
RewriteRule ^changeemail$ /changeemail.php
RewriteRule ^changepass$ /changepass.php
RewriteRule ^resendconfirmation/(.*) /resendconfirmation.php?userid=$1
RewriteRule ^favorites$ /favorites.php
RewriteRule ^members/(.*)/(.*) /memberprofile.php?pid=$1&name=$2
RewriteRule ^advanced_search$ /advanced_search.php
RewriteRule ^moderate$ /moderate.php
RewriteRule ^termsofuse$ /termsofuse.php
RewriteRule ^privacypolicy$ /privacypolicy.php
RewriteRule ^aboutus$ /aboutus.php
RewriteRule ^advertising$ /advertising.php
RewriteRule ^contactus$ /contactus.php
RewriteRule ^mailbox$ /mailbox.php
RewriteRule ^log_out$ /log_out.php
RewriteRule ^man$ /man.php
RewriteRule ^woman$ /woman.php
</IfModule>

<IfModule mod_security.c> 
   # Turn off mod_security filtering. 
   SecFilterEngine Off 

   # The below probably isn't needed, 
   # but better safe than sorry. 
   SecFilterScanPOST Off 
</IfModule>
